.loginWrapper {
    display: flex;
    flex-direction: column;
}

.loginWrapper span {
    color: orange;
    font-weight: bold;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputRemember {
    display: flex;
}

.error {
    color: red;
    font-weight: bold;
}